:host {
  position: relative;
  height: var(--size);
  box-sizing: content-box;
  padding: var(--m) 0;

  .game-card {
    align-items: center;
    justify-content: center;
    
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    height: var(--size);
    aspect-ratio: 2/3;

    border-radius: var(--m);

    overflow: hidden;

    background-color: var(--accent);
    background-image: var(--bgimg);
    background-size: cover;
    background-position: center;

    &.back {
      background-color: var(--primary);
      
      display: none;
    }

    &.show-back {
      translate: -25% -50%;
      box-shadow: -5px 0  3px rgba(0, 0, 0, 0.5);
      &.back {
        translate: -75% -50%;
        display: flex;
      }
    }
  }
}
