:host {

    min-height: 0;
    display: flex;
    flex-direction: column;
    flex: 1;

    .assets {
        flex-wrap: wrap;
        .asset{
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            border-radius: var(--m);
            position: relative;
            
            height: 75mm;
            aspect-ratio: 1;
            flex-shrink: 0;

            .label {
                position: absolute;
                bottom: var(--s);
                left: 0;
                right: 0;
                text-align: center;
            }
            
            &:hover {
                background-color: var(--surface);
            }
            
            &.active {
                border: var(--border);
            }
        }
    }

    .filters {
        .mat-mdc-menu-item{
            background-color: var(--primary) !important;
            &.active-filter {
                background-color: var(--primary) !important;
                color: red;
            }

        }
    }

    
}