:host {

    min-height: 0;
    display: flex;
    flex-direction: column;
    flex: 1;

    .assets {
        display: grid;
        grid-template-columns: repeat(auto-fit, 75mm);
        grid-auto-rows: 75mm;
        gap: var(--m);
        padding: var(--m);
        justify-content: center;
        overflow-y: auto;

        .asset {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            border-radius: var(--m);
            position: relative;
            aspect-ratio: 1;

            .label {
                position: absolute;
                bottom: var(--s);
                left: 0;
                right: 0;
                text-align: center;
            }

            &:hover {
                background-color: var(--surface);
            }

            &.active {
                border: var(--border);
            }
        }
    }

    .filters {
        .mat-mdc-menu-item {
            background-color: var(--primary) !important;

            &.active-filter {
                background-color: var(--primary) !important;
                color: red;
            }

        }
    }


}