:host {

    display: flex;
    align-items: center;
    gap: var(--m);

    .resource-selector {
        display: flex;
        position: relative;
        border: var(--border);
        border-radius: var(--s);
        align-items: center;
        padding: var(--m);
        gap: var(--m);
        flex: 1;
        cursor: pointer;

        .icon {
            width: var(--l);
            aspect-ratio: 1;
        }

        .control-label {
            position: absolute;
            top: -.6rem;
            left: var(--m);
            background-color: var(--bg);
            padding: 0 var(--s);

            font-size: 1rem;
            color: var(--text-secondary);
        }

        &:hover {
            border: var(--border-highlight);
        }
    }


}

.resources-grid {
    display: grid;
    grid-template-columns: repeat(3, 60px);
    grid-auto-rows: 60px;
    gap: var(--s);
    padding: var(--s);
    justify-content: center;
    overflow-y: auto;

    .cell {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-radius: var(--s);
        transition: background 0.2s ease;
    }

}