:host {
  display: flex;
  flex-direction: column;
  flex: 1;

  background-color: var(--surface);
  border-radius: var(--s);
  border: var(--border);


  .filter-button {
    background-color: var(--primary);
    border-radius: var(--s);
    height: 100%;

    &.active {
      border: var(--border);
    }
  }

  .items {
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--xxl));
    gap: var(--s);
    padding: var(--m);
    overflow-y: auto;
    justify-content: center;

    .item {
      cursor: pointer;
      height: var(--xxl);
      aspect-ratio: 1;
      border-radius: var(--s);
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .svg {
        fill: var(--accent);
        outline: none;
      }

      &.empty {
        background-color: var(--accent);
      }

      &:hover {
        scale: 1.05;
      }

    }

  }



}