:host {

    display: flex;
    align-items: center;
    gap: var(--m);

    .item {
        position: relative;
        border: var(--border);
        border-radius: var(--s);
        padding: var(--m);
        flex: 1;
        cursor: pointer;

        .icon {
            width: var(--l);
            aspect-ratio: 1;
        }

        .control-label {
            position: absolute;
            top: -.6rem;
            left: var(--m);
            background-color: var(--bg);
            padding: 0 var(--s);

            font-size: 1rem;
            color: var(--text-secondary);
        }

        &:hover {
            border: var(--border-highlight);
        }
    }

}