.theme-light {
  --bg: #f9fafc;
  --surface: #ffffff;
  --primary: #3f51b5;
  --secondary: #90a4ae;
  --accent: #d49a59;

  --text: #2c2f33;
  --text-secondary: #6b6f77;

  --border: 1px solid #dcdcdc;
  --shadow: rgba(0, 0, 0, 0.1);
}
