@font-face {
  font-family: "Cinzel Decorative";
  src: url("/assets/fonts/CinzelDecorative-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cinzel Decorative";
  src: url("/assets/fonts/CinzelDecorative-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cinzel Decorative";
  src: url("/assets/fonts/CinzelDecorative-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Merriweather Variable Font */
@font-face {
  font-family: "Merriweather";
  src: url("/assets/fonts/Merriweather-VariableFont_opsz,wdth,wght.ttf") format("truetype-variations");
  font-weight: 100 900;
  /* variable font supports weight range */
  font-style: normal;
  font-display: swap;
}

/* Source Sans 3 Variable Font */
@font-face {
  font-family: "Source Sans 3";
  src: url("/assets/fonts/SourceSans3-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 200 900;
  /* variable font weight range */
  font-style: normal;
  font-display: swap;
}

:root {
  --bg: #121318;
  --surface: #1f2128;
  --primary: #2e3142;
  --secondary: #4a6fa5;
  --accent: #bf935f;

  --text: #d0cdc6;
  --text-secondary: #9a988f;

  --border: 1px solid var(--accent);
  --border-highlight: 1px solid var(--text);
  --shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

  --font-family-title: "Cinzel Decorative", serif;
  --font-small-title: "Merriweather", serif;
  --font-family-body: "Source Sans Pro", sans-serif;

  --mat-menu-container-color: var(--surface); // fallback to your surface variable
  --mat-select-panel-background-color: var(--surface);
}

h1 {
  font-family: var(--font-family-title);
  font-weight: 900; // uses Black
}

h2 {
  font-family: var(--font-family-title);
  font-weight: 700; // uses Bold
}

h3,
h4,
h5 {
  font-family: var(--font-small-title);
  font-weight: bold;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: var(--font-family-body);
  transition: background-color 0.3s ease, color 0.3s ease;
}

mat-form-field {

  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }

  .mat-mdc-text-field-wrapper {
    background-color: rgba(100, 148, 237, 0.05);
    border: 1px solid var(--primary);
    border-radius: var(--s);
  }

  .mat-mdc-notch-piece {
    border: none;
    padding-left: var(--s);
  }

  input {
    padding: 0 var(--m) !important;
  }

}

mat-select {
  padding: 0 var(--m);

}

.listbox {
  background-color: var(--surface) !important;
  z-index: 10 !important;
}

.mat-mdc-tooltip-surface {
  background-color: var(--surface) !important;
  color: var(--text);
  font-family: var(--font-family-body);
  font-size: 12px;
  box-shadow: var(--shadow);
}

* {
  &::-webkit-scrollbar {
    width: var(--m);
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 99px;
    border: 5px solid transparent;
    background-clip: content-box;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: var(--secondary);
    background-clip: content-box;
  }
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.discrete {
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

mat-dialog-container {
  --mat-dialog-container-color: transparent !important;
}

mat-slide-toggle {
  button {
    background-color: var(--primary) !important;
  }
}

.img-fallback {

  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
  }

}