:host {
  height: 100%;
  width: 100%;
  position: relative;
  box-sizing: content-box;
  padding: var(--m) 0;

  .hex {
    position: absolute;
    height: var(--size);
    aspect-ratio: 1;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    background-color: var(--accent);
    background-image: var(--bg);
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    overflow: hidden;
    background-color: var(--accent);
    filter: drop-shadow( -5px 0 3px rgba(0, 0, 0, 0.8));

    clip-path: polygon(
      50% 0%,
      93.3% 25%,
      93.3% 75%,
      50% 100%,
      6.7% 75%,
      6.7% 25%
    );
    filter: drop-shadow(-5px 0 3px rgba(0,0,0,0.5));

    &.back {
      display: none;
      background-color: var(--primary);
    }

    &.show-back {
      translate: -25% -50%;

      &.shadow {
        background-color: rgba(0, 0, 0, 0.3);
        translate: -28% -50%;
      }

      &.back {
        translate: -75% -50%;
        display: flex;
      }
    }
  }
}
