:host {
    display: flex;
    flex-direction: column;
    gap: var(--s);
    padding-bottom: var(--s);
    border-bottom: var(--border);


    .label {
        padding-bottom: var(--s);
        border-bottom: var(--border);
    }


    .resource {
        align-items: center;
        gap: var(--s);
        border: var(--border);
        border-radius: var(--s);

        .svg {
            margin-left: var(--s);
            width: var(--l);
            aspect-ratio: 1;
            fill: var(--accent);
        }
    }
}

.resources-grid {
    display: grid;
    grid-template-columns: repeat(3, 60px);
    grid-auto-rows: 50px;
    gap: var(--s);
    padding: var(--s);

    .cell {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-radius: var(--s);
        transition: background 0.2s ease;

        .svg {
            fill: var(--accent);
        }

        &:hover {
            .svg {
                fill: var(--text);
            }
        }
    }

}